.hero {
	position: relative;
	height: 676px;
	z-index: 10;

	@include breakpoint(small only) {
		overflow: hidden;
		height: 500px;
	}
}

.animation-monitors {
	position: absolute;
	top: rem-calc(67);
	left: 0;
}

.animation-monitors-small {
	position: absolute;
	top: rem-calc(67);
	left: 0;
}

.animation-keyboard {
	position: absolute;
	top: rem-calc(420);
	left: -40%;
}

.animation-mug {
	position: absolute;
	bottom: rem-calc(100);
	left: 35%;
	width: rem-calc(180);
}

.animation-mouse {
	position: absolute;
	top: rem-calc(320);
	left: 60%;
}

.animation-text {
	position: absolute;
	top: rem-calc(70);
	left: 15%;

	width: 70%;
	text-align: center;
	opacity: 0;
}

.animation-text-small {
	position: absolute;
	top: rem-calc(30);
	left: 15%;

	width: 70%;
	text-align: center;
	opacity: 1;
}

.animation-text-small h1 {
	font-size: rem-calc(20);
	line-height: 1.25;
}

.animation-text h1 {
	margin-bottom: rem-calc(30);
	font-size: rem-calc(50);
	font-weight: bold;
}

.animation-text p {
	letter-spacing: rem-calc(0.2);
	line-height: rem-calc(29);
}

.animation-bubbles1 {
	position: absolute;
	left: -50%;
	bottom: rem-calc(-50);

	z-index: 100;
}

.animation-bubbles2 {
	position: absolute;
	bottom: 0;
	right: -20%;
}

.animation-bubbles3 {
	position: absolute;
	right: -70%;
	bottom: rem-calc(-50);

	z-index: 100;
}

.animation-desk {
	position: absolute;
	bottom: rem-calc(30);
	// right: rem-calc(-500);
	left: 5%;
}

.animation-duck-small {
	position: absolute;
	bottom: rem-calc(20);


	left: 20%;
	width: 60%;

	opacity: 1;
}
