/* Variables */

$blue:  #2199C3;
$black: #2D2D2D;
$white: #FFFFFF;
$orange: #FFB542;
$orangeDark: #D58E1F;

$buttonBlue: #55C1E8;
$buttonBlueShadow: #2199C3;

/* Backgrounds */
.background-blue {
    background: $blue;
}

.background-black {
    background: $black;
}

.background-gradient {
    background-image: linear-gradient(-180deg, #FFFFFF 7%, #D5E4F0 50%, #58AAC7 98%);
}

.background-gradient-subpage {
    background-image: linear-gradient(-180deg, #FFFFFF 0%, #D5E4F0 35%, #FFFFFF 60%, #FFFFFF 100%);
}

/* Images */

.mug-small {
    width: rem-calc(85);
}

/* Type */

h1 {
    font-size: rem-calc(50);
    font-weight: bold;
    line-height: rem-calc(60);
}

.header {
    @include breakpoint(medium) {
        margin-top: rem-calc(30);
    }
}

.header-top {
    padding: rem-calc(16) 0;
    color: $white;
    font-weight: 600;
    font-size: rem-calc(18);
}

.header-top-tickets {
    color: $white;
}

.header-top .divider {
    padding-left: rem-calc(10);
    padding-right: rem-calc(10);
}

.header-top-text {
    display: inline-block;
    margin-top: rem-calc(2);

    @include breakpoint(small only) {
        font-size: rem-calc(17);
    }
}

.social-icon {
    padding-right: rem-calc(24);
}

.menu-wrapper {
    @include breakpoint(medium) {
        padding-top: rem-calc(67);
    }
}

.menu {
    margin-top: rem-calc(25);
    float: right;
    list-style: none;
    font-weight: 500;
    // text-decoration: underline;
    color: $blue;


    @include breakpoint(small only) {
        float: none;
        padding-top: rem-calc(0);
        margin-top: 0;
    }
}

.menu > li {
    padding: 0.7rem 1rem;
    vertical-align: bottom;
}

.menu > li > a {
    padding: 0;
    padding-bottom: 1px;
    border-bottom: 1px solid $primary-color;
    white-space: nowrap;
}

.menu li:last-child() {
    padding-right: 0;
}

.header {
    position: relative;
    z-index: 0;
}

.logo {
}

.logo-link {
    @include breakpoint(small only) {
        margin: auto rem-calc(30);
        max-width: 100%;
        width: 100%;
    }
}

/* Footer */
.footer {
    height: rem-calc(400);
    padding-top: rem-calc(250);
    margin-top: rem-calc(-100);
    background-image: linear-gradient(-180deg, #FFFFFF 31%, #DFF0FF 63%, #8DCBE5 99%);

    @include breakpoint(small only) {
        height: rem-calc(400);
        padding-top: 0;
        margin-top: 0;
    }
}

.footer-logo {
    margin-bottom: rem-calc(15);
}

/* Newsletter */

.newsletter-cta {
    display: flex;
    justify-content: center;

    position: relative;
    z-index: 20;
}

.newsletter-cta-row {
    max-width: rem-calc(1200);
}

.newsletter-cta form {
    vertical-align: text-top;
}

.newsletter-form {
    display: inline-block;

    @include breakpoint(medium down) {
        text-align: center;
        padding-bottom: rem-calc(20);
    }
}

.newsletter-form input[type="text"], .newsletter-form input[type="email"] {
    padding: rem-calc(0) rem-calc(24);
    margin-right: rem-calc(13);
    border-radius: rem-calc(5);
    line-height: rem-calc(40);
    width: initial;
    display: inline;

    @include breakpoint(small only) {
        margin-right: 0;
        padding-right: 0;
        width: 240px;
    }
}

.newsletter-text {
    display: inline-block;
    padding: rem-calc(25) 0;
    color: $white;

    @include breakpoint(medium down) {
        display: block;
        text-align: center;
    }
}

.newsletter-text span {
    display: inline-block;
    vertical-align: top;
}

.newsletter-arrow {
    // float: left;
    display: inline-block;
    margin-top: rem-calc(-7);
    margin-left: rem-calc(5);
}

.newsletter-button {
    margin-left: rem-calc(30);
    @include breakpoint(small only) {
        margin-right: rem-calc(30);
    }
}

/* Buttons */

.button.blue {
    @include button-style($buttonBlue, $buttonBlue, $white);
    margin-top: rem-calc(10);
    padding: rem-calc(12) rem-calc(40);

    box-shadow: 0px 4px 0px 0px $buttonBlueShadow;
    border-radius: 5px;

    font-weight: bold;
    font-size: rem-calc(22);
    letter-spacing: 0.28px;
    text-transform: uppercase;

    &:hover,
    &:focus {
        position: relative;
        top: 1px;
        box-shadow: 0px 3px 0px 0px $buttonBlueShadow;
    }

    &:active {
        position: relative;
        top: 4px;
        box-shadow: 0px 0px 0px 0px $buttonBlueShadow;
    }
}

.button.blue.small {
    padding: rem-calc(12) rem-calc(20);
    font-size: rem-calc(18);
}


.button.orange {
    @include button-style($orange, $orange, $white);
    margin-top: rem-calc(10);
    padding: rem-calc(12) rem-calc(40);

    box-shadow: 0px 4px 0px 0px $orangeDark;
    border-radius: 5px;

    font-weight: bold;
    font-size: rem-calc(22);
    letter-spacing: 0.28px;
    text-transform: uppercase;

    &:hover,
    &:focus {
        position: relative;
        top: 1px;
        box-shadow: 0px 3px 0px 0px $orangeDark;
    }

    &:active {
        position: relative;
        top: 4px;
        box-shadow: 0px 0px 0px 0px $orangeDark;
    }
}

/* Section: VR */
.section-vr {
    padding-top: rem-calc(70);
    padding-bottom: rem-calc(70);
    margin-bottom: rem-calc(100);
    color: $white;
}

.vr-duck {
    margin-top: rem-calc(20);
    width: rem-calc(130);
}

.text-vr {
    margin-top: rem-calc(30);
}

/* Section: About */
.section-about {
    margin-top: rem-calc(100);
}

.section-about h1 {
    @include breakpoint(small only) {
        padding-bottom: rem-calc(20);
    }
}

.text-paragraph {
    @include breakpoint(medium) {
        margin-top: rem-calc(74);
    }
}

.section-about-video {
    margin-top: rem-calc(30);
    @include breakpoint(medium) {
        //margin-top: rem-calc(112);
    }
}

.section-about-archive {
    margin-top: rem-calc(30);

    @include breakpoint(medium) {
        margin-top: rem-calc(86);
    }
}

.section-about-cfp {
    margin-top: rem-calc(38);
    margin-bottom: rem-calc(60);

    @include breakpoint(medium) {
        margin-bottom: rem-calc(111);
    }
}

.section-important-wrapper {
    @include breakpoint(small only) {
        overflow: hidden;
    }
}

.section-important {
    position: relative;
    padding-top: rem-calc(61);
    padding-bottom: rem-calc(49);
    margin-bottom: rem-calc(93);

    border: solid rem-calc(15) #F4F4F4;
    background-color: #FCFCFC;

    @include breakpoint(small only) {
        margin-bottom: rem-calc(30);

        padding-top: rem-calc(20);
        padding-left: rem-calc(10);
        padding-right: rem-calc(10);
    }
}

.section-important h1 {
    // margin-top: rem-calc(60);
    margin-bottom: rem-calc(35);
}

.section-important-mug {
    position: absolute;
    right: rem-calc(-60);
    top: rem-calc(-80);
    overflow: visible;

    @include breakpoint(small only) {
        width: 40%;
        right: rem-calc(-10);
        top: rem-calc(50);
    }
}

.section-cfp {

}

.section-cfp-perks {
    max-width: rem-calc(1200);
    //margin-top: rem-calc(60);
    margin-bottom: rem-calc(60);

    @include breakpoint(medium) {
        //margin-top: rem-calc(150);
        margin-bottom: rem-calc(60);
    }
}

.section-cfp-perks p {
    @include breakpoint(small only) {
        margin-bottom: rem-calc(30);
    }
}

.section-cfp-countdown {
    margin-top: rem-calc(48);
    margin-bottom: rem-calc(87);

    font-style: italic;
    font-size: rem-calc(22);
    line-height: rem-calc(29);
}

.section-cfp-nominate {
    border: solid rem-calc(15) #F4F4F4;
    background-color: #FCFCFC;

    padding-top: rem-calc(40);
    padding-bottom: rem-calc(40);
    margin-bottom: rem-calc(110);

    @include breakpoint(small only) {
        padding-top: rem-calc(20);
        padding-left: rem-calc(10);
        padding-right: rem-calc(10);

        margin-bottom: rem-calc(0);
    }
}

.section-cfp-perks p {
    font-size: rem-calc(14);
}

.speaker-perks {
    display: block;
    margin-top: rem-calc(29);
    margin-bottom: rem-calc(8);
    font-size: rem-calc(22);
    font-weight: 600;
}

.section-schedule h1 {
    margin: rem-calc(93) 0 rem-calc(112);
    color: $white;
}

.section-schedule {
    display: flex;
    justify-content: center;
}

.section-schedule-row {
    max-width: rem-calc(1200);
}

.schedule {
    border-spacing: 0 rem-calc(47px);
    margin-bottom: rem-calc(180);

    @include breakpoint(small only) {
        width: 100%;
    }
}

.schedule thead,
.schedule tbody,
.schedule tr {
    color: $white;
    background-color: transparent !important;
}

.schedule thead {
    @include breakpoint(small only) {
        display: none;
    }
}

.schedule th {
    color: $white;
    font-weight: bold;
    font-size: rem-calc(24);
    text-align: center;
}

.schedule tr td:first-child() {
    font-size: rem-calc(24);
    font-weight: bold;
    text-align: right;
    padding-left: 0;
    padding-right: rem-calc(20);
}

.schedule td {
    @include breakpoint(small only) {
        display:block;
        // box-sizing: border-box;
        width:99.9%;
        // clear:both
    }
}

.schedule .talk {
    display: flex;
}

.talk-room i {
    margin-right: rem-calc(6);
}

.schedule .talk-speaker-image {
    flex-grow: 1;
    min-width: rem-calc(103);

    @include breakpoint(medium down) {
        display: none;
    }
}

.schedule .talk-info {
    display: block;
    flex-grow: 2;
    display: inline-block;
    text-align: left;
    color: $white;

    padding-left: rem-calc(25);

    &:active,
    &:hover,
    &:focus {
        color: $primary-color;
    }
}

.schedule .talk-speaker {
    display: block;
    font-size: rem-calc(24);
}


.schedule .talk-jobtitle {
    display: block;
    font-size: rem-calc(16);
    font-style: italic;
}

.schedule .talk-title {
    display: block;
    font-size: rem-calc(16);
}

.talk-announcement {
    border-spacing: 0px 10px;
}

.talk-announcement td {
    @include breakpoint(medium) {
        padding-top: 20px;
        padding-bottom: 20px;
        margin-bottom: rem-calc(20);

        border-top: 1px solid #D9D9D9;
        border-bottom: 1px solid #D9D9D9;
        border-left: none;
    }
}

.talk-announcement-info {
    display: inline-block;
    vertical-align: middle;
    text-align: left;
}

.talk-announcement-image {
    display: inline-block;

    margin-right: rem-calc(10);
    // width: rem-calc(65);
}

.talk-announcement-title {
    display: inline-block;
    font-size: rem-calc(24);
}

.talk-announcement-description {
    display: inline-block;
}

.section-team {
    margin-top: rem-calc(120);
    margin-bottom: rem-calc(170);
}

.section-team h1 {
    margin-bottom: rem-calc(45);
}

.team-member,
.sponsor {
    margin-bottom: rem-calc(50);
}

.team-member img {
    border-radius: 5%;
}

.section-speaker {
    margin-top: rem-calc(80);
    padding-top: rem-calc(20);
    margin-bottom: rem-calc(120);
    background-color: rgba(255,255,255,0.8);
    border-radius: 5px;

    .speaker-name {
        display: inline;
        font-size: rem-calc(25);
    }

    .speaker-info {
        margin-bottom: rem-calc(30);
    }

    .speaker-tagline {
        display: inline;
        font-size: rem-calc(16);
    }

    .subpage-nav {
        margin-top: rem-calc(40);
    }

    .next-speaker {
        text-align: right;
    }
}

.sponsor {
    display: block;
}

.team-name {
    display: block;
    margin-top: rem-calc(17);
    font-size: rem-calc(20);
}

.team-description {
    margin-bottom: rem-calc(78);
}

.section-sponsors {
    // margin-bottom: rem-calc(122);
}

.section-sponsors h1 {
    margin-bottom: rem-calc(45);
}

.haiku {
    font-style: italic;
    margin-bottom: 0;

    @include breakpoint(small only) {
        margin-top: rem-calc(15);
    }
}

.haiku-byline {
    font-size: rem-calc(12);
    font-weight: bold;
    color: $body-font-color;
}

.speaker-img-circle {
    width: 80px;
    border-radius: 50%;
    border: 4px $primary-color solid;
    display: inline;
}

.speaker-link {
    background-color: transparent;
    width: rem-calc(25);
    height: rem-calc(25);
}

.speaker-link-other {
    background-color: transparent;
    width: rem-calc(15);
    height: rem-calc(15);
}

div[class^="speaker-details-"] {
    border: solid rem-calc(15) #F4F4F4;
    background-color: #FCFCFC;
}

.speaker-details-representation{

    .speaker-name {
        display: inline;
        margin-left: rem-calc(5);
        font-size: rem-calc(25);
    }
}

.speaker-container {
    position: relative;
    padding-bottom: rem-calc(70);
}

.learn-more {
    position: absolute;
    bottom: rem-calc(-20);
}
