language: python
python: 2.7

env:
  - TRAVIS_NODE_VERSION="6"


install: "pip install Lektor"
cache:
  directories:
    - node_modules
    - bower_components
install:
  - rm -rf ~/.nvm && git clone https://github.com/creationix/nvm.git ~/.nvm && (cd ~/.nvm && git checkout `git describe --abbrev=0 --tags`) && source ~/.nvm/nvm.sh && nvm install $TRAVIS_NODE_VERSION
  - npm install -g gulp bower
  - npm install
  - bower install
  - pip install lektor
before_script:
  - gulp build
script: "lektor build"
deploy:
  provider: script
  script: "lektor deploy ghpages"
