{% macro render_speaker(speaker) %}
<div class="medium-3 small-6 column team-member speaker-container">
    <a href="{{ speaker|url }}">
        <img src="{{ speaker.image|default("/images/speakers/default.png", true) | asseturl }}"/><br/>
    </a>
    <a href="{{ speaker|url }}"><span class="team-name">{{ speaker.name }}</span></a>
    <span class="team-description">{{ speaker.tagline }}</span>

    <div class="learn-more">
        <a href="{{ speaker|url }}" class="button blue small">Learn more</span></a>
    </div>
</div>
{% endmacro %}
