<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WebCamp Ljubljana 2017 - 22. april 2017</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,600,700" rel="stylesheet">
	<link rel="stylesheet" href="{{ 'css/app.css'|asseturl }}">
    <link rel="icon" type="image/png" href="{{ 'images/mug.png'|asseturl }}">
</head>
<body>

<div class="background-blue header-top">
    <div class="row">
        <div class="medium-8 column">
            8. April 2017 • Ljubljana, Slovenia • Get tickets
        </div>
        <div class="medium-offset-2 medium-2 column text-right">
            <a href="#" class="social-icon"><img src="{{ 'images/twitter.svg'|asseturl }}"/></a>
            <a href="#"><img src="{{ 'images/facebook.svg'|asseturl }}"/></a>
        </div>
    </div>
</div>

<div class="background-gradient clearfix header">
    <div class="row menu-wrapper">
        <div class="medium-3 column">
            <a href="/"><img src="{{ 'images/logo.svg'|asseturl }}" alt="WebCamp Logo" class="logo"></a>
        </div>
        <div class="medium-offset-2 medium-7 column">
            <ul class="menu">
                <li><a href="#submit">Submit</a></li>
                <li><a href="#team">Team</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#tickets">Tickets</a></li>
                <li><a href="#sponsors">Sponsors</a></li>
            </ul>
        </div>
    </div>

    <div class="hero row">

        <img src="{{ 'images/animation/monitors.svg'|asseturl }}" class="animation-monitors" id="animation-monitors"/>
        <img src="{{ 'images/animation/keyboard.svg'|asseturl }}" class="animation-keyboard" id="animation-keyboard"/>
        <div class="trigger"></div>
        <img src="{{ 'images/animation/mug.svg'|asseturl }}" class="animation-mug"/>
        <img src="{{ 'images/animation/mouse.svg'|asseturl }}" class="animation-mouse"/>

        <div class="animation-text">
            <h1>Happy developers write better code.</h1>
            <p>You can watch tech webinars at home. Come join us at this year’s WebCamp to learn how to be a happier web
                developer by taking better care of yourself and the people you care about.</p>
        </div>
        <img src="{{ 'images/animation/bubbles1.svg'|asseturl }}" class="animation-bubbles1"/>
        <img src="{{ 'images/animation/bubbles2.svg'|asseturl }}" class="animation-bubbles2"/>
        <img src="{{ 'images/animation/desk.svg'|asseturl }}" class="animation-desk"/>
        <img src="{{ 'images/animation/mug.svg'|asseturl }}" class="animation-mug"/>

    </div>

    <div class="background-black newsletter-cta">
        <div class="row">
            <div class="medium-2 medium-offset-1 column newsletter-text">
            <span>
              We'll send free<br/>
              tickets to email<br/>
              subscribers!
            </span>
                <img src="{{ 'images/arrow.svg'|asseturl }}" class="newsletter-arrow"/>
            </div>
            <div class="medium-8 column">
                <form class="newsletter-form">
                    <input type="input" name="name" placeholder="Name">
                    <input type="input" name="email" placeholder="Email">
                    <input type="submit" value="Get Notified" class="button orange newsletter-button">
                </form>
            </div>
        </div>
    </div>
</div>
{#<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>#}
<script src="{{ 'bower_components/jquery/dist/jquery.js'|asseturl }}"></script>
<script src="{{ 'bower_components/what-input/dist/what-input.js'|asseturl }}"></script>
<script src="{{ 'bower_components/foundation-sites/dist/js/foundation.js'|asseturl }}"></script>

<script src="//cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/ScrollMagic.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.0/TimelineMax.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.0/TweenMax.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.0/jquery.gsap.min.js"></script>

<script src="//cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/ScrollMagic.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/plugins/animation.gsap.js"></script>
{#<script src="//cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/plugins/debug.addIndicators.min.js"></script>#}

<script type="text/javascript" charset="utf-8" src="{{ 'js/app.js'|asseturl }}"></script>

</body>
</html>
