{% extends "layout.html" %}
{% block body %}
	<div class="hero row show-for-medium">
		<img src="{{ 'images/animation/monitors.svg'|asseturl }}"
		     class="animation-monitors" id="animation-monitors"/>
		<img src="{{ 'images/animation/monitors.svg'|asseturl }}"
		     class="animation-monitors" id="animation-monitors"/>
		<img src="{{ 'images/animation/keyboard.svg'|asseturl }}"
		     class="animation-keyboard" id="animation-keyboard"/>
		<div class="trigger"></div>
		<img src="{{ 'images/mug.svg'|asseturl }}" class="animation-mug"/>
		<img src="{{ 'images/animation/mouse.svg'|asseturl }}"
		     class="animation-mouse"/>

		<div class="animation-text">
			<h1>Happy developers write better code.</h1>
			<p>You can watch tech webinars at home. Come join us at this year’s
				WebCamp to learn how to be a happier web developer by taking
				better care of yourself and the people you care about.</p>
		</div>
		<img src="{{ 'images/animation/bubbles1.svg'|asseturl }}"
		     class="animation-bubbles1"/>
		<img src="{{ 'images/animation/bubbles2.svg'|asseturl }}"
		     class="animation-bubbles2"/>
		<img src="{{ 'images/animation/bubbles1.svg'|asseturl }}"
		     class="animation-bubbles3"/>
		<img src="{{ 'images/animation/desk.svg'|asseturl }}"
		     class="animation-desk"/>
		<img src="{{ 'images/mug.svg'|asseturl }}" class="animation-mug"/>
	</div>

	<div class="hero row show-for-small-only">
		<div class="animation-text-small">
			<h1>Happy developers write better code.</h1>
			<p>You can watch tech webinars at home. Come join us at this year’s
				WebCamp to learn how to be a happier web developer by taking
				better care of yourself and the people you care about.</p>
		</div>
		<img src="{{ 'images/animation/duck-small.svg'|asseturl }}"
		     class="animation-duck-small"/>
	</div>

	<div class="background-black newsletter-cta">
		<div class="newsletter-cta-row">
			<div class="newsletter-text">
          <span class="hide-for-small-only">
            We'll send free<br class="show-for-large"/>
            tickets to list<br class="show-for-large"/>
            subscribers!
          </span>
          <span class="show-for-small-only">
            Free tickets for list subscribers!
          </span>

				<img src="{{ 'images/arrow.svg'|asseturl }}"
				     class="newsletter-arrow show-for-large"/>
			</div>
			<form class="newsletter-form"
			      action="//webcamp.us9.list-manage.com/subscribe/post?u=fe215c156a9c379ef50c7c68c&amp;id=18c5122cf2"
			      method="post">
				<input type="text" name="MERGE1" placeholder="Name"
				       class="show-for-large">
				<input type="email" name="MERGE0" placeholder="Email">
				<input type="submit" value="Get Notified"
				       class="button orange newsletter-button">
			</form>
		</div>
	</div>
	</div>
	<br>

	<div class="row align-spaced section-team" id="speakers">
		<div class="small-12 column text-center">
			<h1>Speakers</h1>
		</div>

		<div class="medium-12 column hide-for-small-only"></div>
		{% for id, item in bag('speakers').items() %}
			<div class="medium-3 small-6 column team-member speaker-container">
				<a data-open="modal-speaker-{{ id }}">
					<img src="{{ item.image|asseturl }}"/><br/>
				</a>
				<div class="reveal large modal-speaker-representation" id="modal-speaker-{{ id }}" data-reveal
				     data-reset-on-close="true">
					<div class="medium-12 column">
						<div class="medium-10 column modal-speaker-representation">
							<img src="{{ item.image|asseturl }}" class="modal-img-circle"/>
							<span class="speaker-name">{{ item.name }}</span>
						</div>
						<h2>Session: {{ item.talk_title }}</h2>
						<h5>Description:</h5>
						<p>{{ item.talk_description }}</p>
						<br>
						<h5>What will the audience get from this talk:</h5>
						<p>{{ item.takeaways }}</p>

					</div>
					<button class="close-button" data-close
					        aria-label="Close modal"
					        type="button">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>

				<a data-open="modal-speaker-{{ id }}" target="_blank">
					<span class="team-name">{{ item.name }}</span>
				</a>
				<span class="team-description">{{ item.tagline }}</span>

                <div class="learn-more">
                    <a data-open="modal-speaker-{{ id }}" target="_blank" class="button blue small">Learn more</span></a>
                </div>
			</div>
		{% endfor %}
	</div>
	<div class="row" id="cfp">
		<div class="small-12 column text-center">
			<h1>Demo your IoT project</h1>
		</div>
		<div class="medium-6 small-12 column text-paragraph">
			<p>Whether you're a startup or just like to make your things talk to the internet in your spare time, we'd love to see your project at WebCamp! You'll get a free WebCamp ticket and your own spot in the <strong>IoT Corner</strong> where you can demo your work to 300+ curious geeks.
			</p>
			<p>All you need is:</p>
			<ul>
				<li>an interesting hardware demo that WebCamp attendees can play with</li>
				<li>at least one person that can answer technical questions about your project during WebCamp on April 22</li>
			</ul>
		</div>
		<div class="medium-6 small-12 column text-paragraph">
			<p>Don’t take our word for it, here’s what previous IoT Corner presenters say about their experience:</p>

			<p><em>“IoT Corner at WebCamp gives you an opportunity to connect with other enthusiastic technology lovers. It’s a great way to try get some initial feedback and ideas for the future.”</em> &ndash; Jernej Mirt, VIAR</p>

			<p>​ </p>
		</div>
		<div class="small-12 column text-center">
			<a href="https://webcamp.typeform.com/to/twRdS0" class="button blue text-uppercase" target="_blank">Apply for IoT Corner</a>
		</div>
		<div class="small-12 column section-cfp-countdown text-center">
			<p>You can apply for the IoT Corner by March 31.<br/>We'll confirm your spot by April 10.</p>
		</div>
	</div>
	<div class="row section-important-wrapper">
		<div class="section-important">
			<div class="medium-10 medium-offset-1 small-12 column">
				<h1>tl;dr:</h1>
			</div>
			<div class="medium-10 medium-offset-1 small-12 column">
				<p><strong>Location:</strong> Faculty of Computer and
					Information
					Science, Ljubljana</p>
				<p><strong>Event date:</strong> Saturday, April 22, 2017</p>
				<p><strong>Tickets:</strong> free, distributed only through
					mailing
					list</p>
				<p>Don’t miss any of the important dates, subscribe to our
					mailing
					list and you’ll be the first to hear when the ticket
					registration opens!</p>
			</div>

			<img src="{{ 'images/mug-large.svg'|asseturl }}" alt="It's a mug!!"
			     class="section-important-mug"/>
		</div>
	</div>

	{# About, Location, Venue #}
	<div class="row section-about" id="info">
		<div class="small-12 column text-center">
			<h1>Venue and other info</h1>
		</div>
		<div class="medium-6 small-12 column text-paragraph">
			<p>This year, WebCamp will take place on <strong> April 22, 2017 at
				the <a target="_blank" href="https://fri.uni-lj.si/en/about"> Faculty
				of Computer and Information Science</a> in Ljubljana</strong>. You
				can expect a
				day full of diverse talks, chocolate, coffee, and fun - it’s a
				Saturday and you can <strong>bring your kids too!</strong></p>
			<p>
				<a href="https://fri.uni-lj.si/en/about-faculty/how-to-reach-us" target="_blank">
					Detailed instructions on getting to the Faculty building</a>
				<br/>
				<strong> If you are arriving by car, you can park on the either side of
				the Faculty building.</strong>
			</p>


		</div>

		<div class="medium-6 small-12 column text-paragraph">
			<p>WebCamp is an event organized <a href="#team">by the
				community</a>
				for the community. All talks are in English and we expect 300
				attendees from all over the region. It’s free to attend, but
				you’ll need a ticket*.
			</p>
			<p>If you are a current student of Faculty of Computer and
				Information Science, you can get a ticket by emailing us at
				info@webcamp.si.
			</p>
		</div>

		<div class="medium-12 column section-map">
			<div id="disapear-on-click" class="location-zoom">
				<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2769.021058795885!2d14.472292399999999!3d46.0506782!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47652d52dfb93cd7%3A0xbfcd354b74411729!2sVe%C4%8Dna+pot+113%2C+1000+Ljubljana!5e0!3m2!1sen!2ssi!4v1408359697852"
				        frameborder="0" style="border:0; width: 100%;
			height: 400px;"></iframe>
			</div>
		</div>

		<div class="medium-6 small-12 column text-paragraph">
			<p>Learn new things, meet new friends or get a massage! In the
				meantime, your kids can play together with Minecraft under responsible
				adult supervision. There will also be some cool VR and IoT experiences
				for all of us to play with.
			</p>
		</div>

		<div class="medium-6 small-12 column text-paragraph">
			<p>Check out some highlights from the previous year below — but keep
				in
				mind that this year’s WebCamp is going to be even more
				special!
			</p>
			<p>Also see how much fun we had in
				<a href="http://2015.webcamp.si">2015</a>&nbsp;&amp;
				<a href="http://2016.webcamp.si">2016</a>
			</p>
		</div>

		<div class="medium-5 medium-offset-1 small-12 column text-center section-about-video">
			<a data-open="modal-video1"><img
					src="{{ '/images/video1.jpg'|asseturl }}"/></a>

			<div class="reveal large" id="modal-video1" data-reveal
			     data-reset-on-close="true">
				<div class="flex-video widescreen">
					<iframe width="100%" height="630"
					        src="https://www.youtube.com/embed/oiviGRr7BHM"
					        frameborder="0" allowfullscreen></iframe>
				</div>
				<button class="close-button" data-close aria-label="Close modal"
				        type="button">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
		</div>
		<div class="medium-5 small-12 column text-center section-about-video text-right">
			<a data-open="modal-video2"><img
					src="{{ '/images/video2.jpg'|asseturl }}"/></a>

			<div class="reveal large" id="modal-video2" data-reveal
			     data-reset-on-close="true">
				<div class="flex-video widescreen">
					<iframe width="100%" height="630"
					        src="https://www.youtube.com/embed/rc006kX-u-I"
					        frameborder="0" allowfullscreen></iframe>
				</div>
				<button class="close-button" data-close aria-label="Close modal"
				        type="button">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
		</div>

	</div>
	{# End About, Location, Venue #}

	<div class="row align-spaced section-team" id="sponsors">
		<div class="small-12 column text-center">
			<h1>Sponsors</h1>
		</div>

		<div class="medium-8 small-12 column text-center team-description">
			<p>
				It is thanks to companies like these that we can keep the ticket free and make the event memorable.
				If you see them around the venue, make sure you give them a high-five.
			</p>
		</div>

		{% for id, item in bag('sponsors').items() %}
			<div class="medium-6 small-6 column sponsor">
				<a href="{{ item.link }}" target="_blank">
					<img src="{{ item.image|asseturl }}" alt="{{ item.name }}"/>
				</a>
				<p><br/>{{ item.description|safe }}</p>
				<br/>
			</div>
		{% endfor %}
	</div>

	<div class="row align-spaced section-sponsors" id="partners">
		<div class="small-12 column text-center">
			<h1>Partners</h1>
		</div>
		{% for id, item in bag('partners').items() %}
			<div class="medium-6 small-6 column sponsor">
				<a href="{{ item.link }}" target="_blank">
					<img src="{{ item.image|asseturl }}" alt="{{ item.name }}"/>
				</a>
				<br/>
			</div>
		{% endfor %}
		<div>
			This event would not be possible without the generous help of
			<a href="http://www.fri.uni-lj.si/en/about/" target="_blank">
				Faculty of Computer and Information Science</a>.
			They also host a lot of other interesting <a
				href="http://fri.uni-lj.si/sl/dogodki"
				target="_blank">events</a>.
			Check out their event list and <a
				href="http://fri.uni-lj.si/en/study-programmes" target="_blank">different
			post-graduate study programs</a>.
		</div>
	</div>



	<div class="row align-spaced section-team" id="team">
		<div class="small-12 column text-center">
			<h1>The Team</h1>
		</div>
		<div class="medium-8 small-12 column text-center team-description">
			<p>WebCamp is brought to you by a team of volunteers. <br/>We
				estimate
				that about 256 cups of coffee will be emptied in preparation for
				this event.</p>
		</div>

		<div class="medium-12 column hide-for-small-only"></div>
		{% for id, item in bag('team').items() %}
			<div class="medium-3 small-6 column team-member">
				<a href="{{ item.link }}" target="_blank">
					<img src="{{ item.image|asseturl }}"/><br/>
					<span class="team-name">{{ item.name }}</span>
				</a>
				<span class="team-description">{{ item.tagline }}</span>

			</div>
		{% endfor %}
	</div>
{% endblock %}
