{% extends "layout.html" %}
{% set siblings = this.get_siblings() %}
{% block title %}{{ this.title }}{% endblock %}

{% block subpage_gradient %}<div class="background-gradient-subpage clearfix header">{% endblock%}

{% block body %}
    <div class="row section-subpage">
        <div class="medium-12 column">
            <div class="row speaker-info">
                <div class="small-2 column">
                    <img class="speaker-img-circle" src="{{ this.image|default("/images/speakers/default.png", true) | asseturl }}" class="img-rounded">
                </div>
                <div class="small-10 column">
                    <span class="speaker-name">{{ this.name }}</span><br><span class="speaker-tagline">{{ this.tagline }}</span>
                    {% if this.link %}
                        {% if 'twitter' in this.link %}
                            <a href="{{this.link}}" target="_blank">
                                <img src="{{ 'images/twitter-blue.svg'|asseturl }}" class="speaker-link">
                            </a>
                        {% else %}
                            <a href="{{this.link}}" target="_blank">
                                <img src="{{ 'images/icon-link.svg'|asseturl }}" class="speaker-link-other">
                            </a>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
            <div class="row">
                <div class="medium-12 column">
                    <h2>Session: {{ this.talk_title }}</h2>
                    <h5>Description:</h5>
                    <p>{{ this.talk_description }}</p>
                    <br>
                    <h5>What will the audience get from this talk:</h5>
                    <p>{{ this.takeaways }}</p>
                    {% if this.slides_link %}
                    <p><a href="{{this.slides_link}}" target="_blank"><img src="{{ 'images/slides.svg'|asseturl }}" class="speaker-link"> Slides</a></p>
                    {% endif %}
                </div>
            </div>
            <div class="row lecture-video">
                <div class="medium-12 column text-center">
                    {% if this.lecture_video %}
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/{{this.lecture_video}}?list=PLIZtfj-D-vQyHICP4U2rave3u8Tmzc7pZ" frameborder="0" allowfullscreen></iframe>
                    {% else %}
                    <p><em>We're sorry, there's no video available for this talk. Technology failed us this time.</em></p>
                    {% endif %}
                </div>
            </div>
           <div class="row subpage-nav">
               <div class="medium-4 column hide-for-small-only">
               {% if siblings.prev_page %}
                 <a href="{{ siblings.prev_page|url }}"> &lt; {{ siblings.prev_page.name }}</a>
               {% endif %}
               </div>
               <div class="medium-4 small-12 column text-center">
                 {# <a href="{{ '/'|url }}#{{ this._slug}}"> Back to schedule</a> #}
                 <a href="{{ '/'|url }}#speakers"> Back to talks</a>
               </div>
               <div class="medium-4 column next-speaker hide-for-small-only">
               {% if siblings.next_page %}
                 <a href="{{ siblings.next_page|url }}">{{ siblings.next_page.name }} &gt;</a>
               {% endif %}
               </div>
           </div>
        </div>
    </div>
{% endblock %}
