{% extends "layout.html" %}
{% block title %}{{ this.title }}{% endblock %}

{% block subpage_gradient %}<div class="background-gradient-subpage clearfix header">{% endblock%}

{% block body %}
<div class="row align-spaced section-subpage" id="team">
    <div class="small-12 column text-center">
        <h1>{{this.title}}</h1>
    </div>
    <div class="medium-8 small-12 column text-center team-description">
        {{this.body}}
    </div>

    <div class="medium-12 column hide-for-small-only"></div>
    {% for id, item in bag('team').items() %}
        <div class="medium-3 small-6 column team-member">
            <a href="{{ item.link }}" target="_blank">
                <img src="{{ item.image|asseturl }}"/><br/>
                <span class="team-name">{{ item.name }}</span>
            </a>
            <span class="team-description">{{ item.tagline }}</span>

        </div>
    {% endfor %}

    <div class="medium-10 small-12 column text-center section-volunteers" id="volunteers">
        <h2>Special thanks</h2>
    </div>
    <div class="medium-10 small-12 column text-center supporters-list">
        <p>We know that an event is as only as good as it's volunteers and this year it was great! A big THANK YOU to all of you who helped us made run everything as smooth as possible:</p>
        <div class="row align-bottom">
            <div class="medium-expand show-for-small-only column supporters">
                <img src="{{ '/images/duck-crown.png'|asseturl }}">
            </div>
            <div class="medium-expand small-12 column supporters">
           Domen   Babič<br/>
           Sabina  Bevc<br/>
           Goran   Blažič<br/>
           Eva Bolcina<br/>
           Andraž  Brodnik<br/>
           Tatjana Ceh<br/>
           Veronika    Čemažar<br/>
           Vesna   Drofenik<br/>
           Ela Eterović<br/>
           Žan Fras<br/>
           Jure    Jakin<br/><br/>
            </div>
            <div class="medium-expand hide-for-small-only column supporters">
                <img src="{{ '/images/duck-crown.png'|asseturl }}">
            </div>
            <div class="medium-expand small-12 column supporters">
            Zoran  Kajba<br/>
            Marin  Kajba<br/>
            Anja   Koletnik<br/>
            Nik    Lisjak<br/>
            Alexander  Marinšek<br/>
            Miha   Merkun<br/>
            Vesna  Murn<br/>
            Matevž Pesek<br/>
            Tina   Rozman<br/>
            Marko  Zagožen<br/>
            Domen  Zajc<br/>
            Barbara    Završnik
            </div>
        </div>
        <br>
        <p>We're only human, so we might have missed you out of the list. This doesn't mean we're not grateful!</p>
    </div>
</div>
{% endblock %}
