{% extends "layout.html" %}
{% block title %}{{ this.title }}{% endblock %}

{% block subpage_gradient %}<div class="background-gradient-subpage clearfix header">{% endblock%}

{% block body %}
<div class="row align-spaced section-subpage" id="team">
    <div class="small-12 column text-center">
        <h1>{{this.title}}</h1>
    </div>
    <div class="medium-8 small-12 column text-center team-description">
        {{this.body}}
    </div>

    <div class="medium-12 column hide-for-small-only"></div>
    {% for id, item in bag('team').items() %}
        <div class="medium-3 small-6 column team-member">
            <a href="{{ item.link }}" target="_blank">
                <img src="{{ item.image|asseturl }}"/><br/>
                <span class="team-name">{{ item.name }}</span>
            </a>
            <span class="team-description">{{ item.tagline }}</span>

        </div>
    {% endfor %}
</div>
{% endblock %}
